<!--
 * @Author: liuhaha
 * @LastEditors: liuhaha
 * @Description: 人生如戏
-->

<template>
<div>
   <div class="container">
       <img src="../../image/$0E[~[SIL04K[T3}1EX3LKR.png" alt="">
   </div>
    </div>  
</template>

<script>
export default {

}
</script>

<style>
.container{
  margin-top: -200px;
    height: 700px;
    width: 100%;
}
.container img{
    width: 100%;
    height: 100%;
}
</style>

