<!--
 * @Author: liuhaha
 * @LastEditors: liuhaha
 * @Description: 人生如戏
-->

<template>
  <div >
      <div class="doo">
          <p> <img src="https://static.lufaxcdn.com/lufaxholding/common/images/logo_white.02384774.jpg" alt=""></p>
     <div class="dodo">
           <nuxt-link to="/">首页</nuxt-link>
      <nuxt-link to="/home">关于我们</nuxt-link>
      <nuxt-link to="/org">业务与服务</nuxt-link>
      <nuxt-link to="/xw">新闻中心</nuxt-link>
      <nuxt-link to="/tz">投资者关系</nuxt-link>
      <nuxt-link to="/lx">联系我们</nuxt-link>
      <nuxt-link to="/jr">加入我们</nuxt-link>
      <nuxt-link to="/zy">简/英</nuxt-link>
     </div>
      </div>
     <div>
           <nuxt />
     </div> 
  </div>
</template>

<script>
export default {
}
</script>
<style>
.doo{
    height: 100px;
    line-height: 80px;
    width: 100%;
    /* border: 1px solid #000; */
}
.doo p{
float: left;
}
.doo .dodo{
float: left;
}
.dodo a{
    text-decoration: none;
    margin-left: 20px;
}

p{
    width: 100px;
    height: 50px;
    background: rgb(209, 196, 196);
}
p img{
    width: 100%;
    height: 100%;
    
}
</style>

