<!--
 * @Author: liuhaha
 * @LastEditors: liuhaha
 * @Description: 人生如戏
-->
<template>
 
  <div >
   <div className="imgss">
        
    </div>
    <div className="boss" >
        <h1>我们的使命</h1>
        <p>让零售信贷和财富管理更简单，更安全，更高效</p>
    </div>
    <div className="zhoin">
    <div className="ll">
        <h2>精准智能的财富管理服务</h2>
        <p> 
              基于深度学习和大数据分析应用，
              平台支持自动化组合投资工具，
              制定定制化且匹配投资者风险偏好的投资组合选择，
              能通过差异化和自动化投资助力提升投资回报。
            </p>
            <p><a>了解更多————》</a></p>
    </div>
    <div className="imgr">
    </div>
    </div>
    <div className="zhoinr">
     <div className="imgl">
    </div>
    <div className="rr">
        <h2>便捷可达的零售信贷服务</h2>
        <p> 
             
        拥有多项先进科技应用，
        全线上业务流程为客户提供信贷服务，
        满足小微企业主信贷需求。
            
            </p>
        <p><a>了解更多————》</a></p>
    </div>
   
    </div>

    <div className="botton">
    <div>
    <img src="https://static.lufaxcdn.com/lufaxholding/common/images/logo.80d5324a.jpg" alt="lufax" />
    <p>地址：山东菏泽曹县</p>
    </div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>

    </div>
    
  
  </div>

</template>

<script>
export default {
  name: 'IndexPage'
}
</script>
<style>
.pp{
    color: aqua;
    text-decoration: none;
}
.boss{
    text-align: center;

}
.top{
    height: 100px;
    width: 100%;
    list-style: 50px;
}
.top  a{
    margin-left: 50px;
      
        text-decoration: none;
    }
 .imgss{
     height: 700px;
     width: 100%;
     /* background-image: url(../inmge/R-C.gif) ;    */
    /* background-repeat: no-repeat; */
 }
.imgr{
    background-image: url('https://static.lufaxcdn.com/lufaxholding/pages/lufax/images/index_errand_1.d29f1660.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.zhoin{
    margin-top: 50px;
    height: 400px;
    width: 100%;
}
.zhoin .ll{
    float: left;
    height: 400px;
    width: 50%;

}
.zhoin .imgr{
    float: left;
    height: 400px;
    width: 50%;
}
.imgl{
    background-image: url('https://static.lufaxcdn.com/lufaxholding/pages/lufax/images/index_errand_2.ae5bbb52.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.zhoinr{
    margin-top: 50px;
    height: 400px;
    width: 100%;
}
.zhoinr .rr{
    float: left;
    height: 400px;
    width: 50%;

}
.zhoinr .imgl{
    float: left;
    height: 400px;
    width: 50%;
}

.botton{
    margin-top: 100px;
    height: 500px;
    background:#000000;
    width: 100%;
}
.botton div{
    float: left;
    margin-left: 20px;
}



</style>